*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.nav {
    display:flex;
    align-items: center;
    height:50px;
    width:100%;
    justify-content: space-around;
    background-color: rgb(92, 92, 216);
    padding: 70px;
    color:white;
    text-transform: uppercase;

    
}

h1 {
    font-size: 4rem;
}

.links {
    display:flex;
    font-size: 35px;
    gap:30px;
}



.footer {
  background: black;
  color: white;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
}



.container {
  display: flex;
  width: 100%;
  height: 100vh;
  
}

/* LEFT SIDE */
.left {
  width: 70%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}




.exchange {
  background-color: #3f51b5;
  height: 300px;
  width:70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
}


.trades {
  width: 70%;                 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  font-size: 35px;
  text-align: left;

  align-self: flex-start;     
  margin-left: 15%;           
}



.right {
  width: 30%;
  background-color: #00bcd4;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right h2 {
  margin-bottom: 20px;
  font-size: 60px;
}


.right input {
  width: 100%;
  padding: 20px 20px;
  margin-bottom: 20px;

  border: none;
  outline: none;

 
  border-radius: 60px / 50%;

  font-size: 29px;
  
}

.right input::placeholder {
  color: black;
  opacity: 1;   
  padding-left: 10px;
  
}




.right button {
  padding: 10px 30px;
  border: none;
  background: transparent;
  font-size: 50px;
  cursor: pointer;
}







/* HEADER */
.header {
  background: #3f51b5;
  color: white;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 60px;
  font-weight: 300;
}


.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 200px);
}


.left {
  width: 70%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.exchange {
  width: 75%;
  height: 320px;
  background: #3f51b5;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 36px;

  margin-bottom: 30px;
}


.total-assets {
  font-size: 36px;
  margin-bottom: 20px;
}


.assets {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  font-size: 24px;
}


.right {
  width: 30%;
  background: #05bcd4;

  padding: 30px 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.withdraw-title {
  background: white;
  padding: 14px 40px;

  border-radius: 40px / 50%;

  font-size: 38px;
  font-weight: 600;

  margin-bottom: 35px;
}


.withdraw input {
  width: 100%;
  height: 55px;

  margin-bottom: 25px;
  padding-left: 20px;

  border: none;
  outline: none;

  font-size: 20px;
  font-weight: 500;
}


.withdraw input::placeholder {
  color: black;
  opacity: 1;
}

.transfer-btn {
  background: white;
  border: none;
  cursor: pointer;

  padding: 14px 45px;
  border-radius: 40px / 50%;

  font-size: 32px;
  font-weight: 600;

  margin-top: 15px;
}

.popup-text {
  margin-top: 30px;

  color: white;
  text-align: center;

  font-size: 20px;
  line-height: 1.4;
}


.footer {
  background: black;
  color: white;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
}


.header{
  background:#4453b8;
  color:#fff;
  height:120px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.header h1{
  font-size:60px;
  letter-spacing:2px;
}


.main{
  display:flex;
  min-height:calc(100vh - 160px);
}


.left{
  width:70%;
  background:#fff;
  padding:40px;
}

.exchange-box{
  background:#4453b8;
  height:300px;
  width:600px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.exchange-box h2{
  color:#fff;
  font-size:36px;
  font-weight:400;
}

.assets-title{
  text-align:center;
  margin-top:30px;
  font-size:36px;
  font-weight:800;
}


.right{
  width:30%;
  background:#05bcd4;
  padding:30px 20px;
  color:#fff;
}

.wallet-title{
  background:#fff;
  color:#7a1c00;
  font-size:32px;
  font-weight:700;
  padding:15px;
  border-radius: 70px / 50%;
  text-align:center;
  margin-bottom:30px;
}

.amount{
  font-size:36px;
  font-weight:700;
  margin-bottom:15px;
}

.reserve{
  margin-top:30px;
  font-size:32px;
  font-weight:600;
}

.reserve-amount{
  font-size:36px;
  font-weight:700;
  margin-bottom:40px;
}


.last .withdraw-btn{
  
  padding:18px;

  font-size:50px;
  font-weight:700;

  background:#fff;      
  color:#000;

  border:none;
  border-radius:50px;   
  cursor:pointer;
  
}




.assets-box{
  margin-top:20px;
 
  max-width:700px;

  display:grid;
  grid-template-columns: 1fr 1fr;

  gap:4px 10px;  

  font-size:22px;
 
}

#bolder {
  color:#000000bd
}

.footer{
  height:40px;
  background:#000;
}

