
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body{

  width:100%;
  min-height:100%;
  background:#000;  
}

.footer{
  width:100%;
  background:#0b1026;
  color:#fff;
}

.footer-container{
  max-width:1200px;
  margin:auto;
  padding:50px 30px;

  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:40px;
}

.footer-col h3{
  color:#00ff66;
  font-size:26px;
  margin-bottom:15px;
}

.footer-col h4{
  font-size:20px;
  margin-bottom:15px;
}

.footer-col p{
  font-size:15px;
  line-height:1.6;
  color:#cfcfcf;
}

.footer-col ul{
  list-style:none;
}

.footer-col ul li{
  font-size:15px;
  margin-bottom:10px;
  color:#cfcfcf;
  cursor:pointer;
  transition:0.3s;
}

.footer-col ul li:hover{
  color:#00ff66;
  transform:translateX(6px);
}

/* bottom bar */
.footer-bottom{
  background:#050816;
  text-align:center;
  padding:15px;
  font-size:14px;
  color:#9e9e9e;
  border-top:1px solid rgba(255,255,255,0.1);
}

/* ===== RESPONSIVE ===== */
@media(max-width:900px){
  .footer-container{
    grid-template-columns:1fr 1fr;
  }
}

@media(max-width:500px){
  .footer-container{
    grid-template-columns:1fr;
    text-align:center;
  }
  .footer-col ul li:hover{
    transform:none;
  }
}







.nav {
    display:flex;
    
    align-items: center;
    height:50px;
    width:100%;
    justify-content: space-between;
    background-color: #3f51b5;
    padding: 40px;
    color:white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: sticky; /* scroll karte waqt bhi shadow visible rahe */
    top: 0;
    z-index: 1000;
   

    
}

#loginpage {
  min-height: 100vh;
  background-image: url("background.jpeg");
     background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
    


}

.logo {
  width:120px;
  height:60px;
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
     filter: brightness(0) saturate(100%)
          invert(62%) sepia(95%)
          saturate(500%) hue-rotate(5deg)
          brightness(1.1);
    
}

.links {
    display:flex;
    font-size: 25px;
    gap:30px;
    text-decoration: none;
   
   
}

/* ===== NAV LINK HOVER EFFECT ===== */
.links a {
  position: relative;
  padding: 6px 4px;
  transition: color 0.3s ease;
  color:white;
  text-decoration: none
  ;
}

/* underline animation */
.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: #00ff66;   /* forex green */
  border-radius: 5px;
  transition: width 0.3s ease;
}

.links a:hover {
  color: #00ff66;
}

.links a:hover::after {
  width: 100%;
}


.right {
  color:white;
}





.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("background.jpeg");
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}


.left {
  background-color: none;
  width: 70%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginpage .left {
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  

}





.exchange {

  margin-top: 30px;
  flex-direction: column;
 background: none;
  height: 300px;
  width:70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;

  

  
}



.trades {
  margin-top: 20px;
  background-color: none;
  width: 70%;                 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  font-size: 26px;
  text-align: left;

  align-self: flex-start;     
  margin-left: 15%;   
  color:white;        
}



.right {
  background-color: #7ddae6;
  width: 30%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  
 
}

.container h2 {
   color: white;
   
}


.right input {
  width: 300px;
  padding: 11px 11px;
  margin-bottom: 20px;

  border: none;
  outline: none;

 
  border-radius: 60px / 50%;

  font-size: 20px;
  
}

.right input::placeholder {
  color: rgba(0, 0, 0, 0.761);
  opacity: 1;   
  padding-left: 10px;

  
}




.right button {
  padding: 5px 20px;
  border: none;
  background-color: #fff;
  border-radius: 18px;
  font-size: 20px;
  cursor: pointer;


}

.right button:hover {
  background-color: cadetblue;
}









.header {
  background: #3f51b5;
  color: white;
  height: 120px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  justify-content: flex-start;

  font-size: 60px;
  font-weight: 300;

   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header img {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  justify-content: flex-start;
   width:120px;
  height:60px;
}


.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 200px);
}


.left {
  width: 70%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.exchange h3 {
  color:rgb(200, 106, 18);
}

.exchange {
  width: 75%;
  height: 320px;
  background: #3f51b5;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 36px;

  margin-bottom: 30px;
}


.total-assets {
  font-size: 36px;
  margin-bottom: 20px;
}


.assets {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  font-size: 24px;
  color:white;
}


.right {
  width: 30%;
  background: #05bcd4;

  padding: 30px 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.withdraw-title {
  background: white;
  padding: 14px 40px;

  border-radius: 40px / 50%;

  font-size: 38px;
  font-weight: 600;

  margin-bottom: 35px;
}


.withdraw input {
  width: 100%;
  height: 55px;

  margin-bottom: 25px;
  padding-left: 20px;

  border: none;
  outline: none;

  font-size: 20px;
  font-weight: 500;
}


.withdraw input::placeholder {
  color: black;
  opacity: 1;
}

.transfer-btn {
  background: white;
  border: none;
  cursor: pointer;

  padding: 14px 45px;
  border-radius: 40px / 50%;

  font-size: 32px;
  font-weight: 600;

  margin-top: 15px;
}

.popup-text {
  margin-top: 30px;

  color: white;
  text-align: center;

  font-size: 20px;
  line-height: 1.4;
}




.header{
  background:#4453b8;
  color:#fff;
  height:120px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.header h1{
  font-size:60px;
  letter-spacing:2px;
}


.main{
  display:flex;
  min-height:calc(100vh - 160px);
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.left{
  width:70%;
  background:#fff;
  padding:40px;
}

.exchange-box{
  background:#4453b8;
  height:300px;
  width:600px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.exchange-box h2{
  color:#fff;
  font-size:36px;
  font-weight:400;
}

.assets-title{
  text-align:center;
  margin-top:30px;
  font-size:36px;
  font-weight:800;
  color:white;
}

.assets-box {
color:white;
}


.right{
  width:30%;
  background:#05bcd4;
  padding:30px 20px;
  color:#fff;
}

.wallet-title{
  background:#fff;
  color:#7a1c00;
  font-size:32px;
  font-weight:700;
  padding:15px;
  border-radius: 70px / 50%;
  text-align:center;
  margin-bottom:30px;
}


.right.wallent-title p {
  color:white;
}
.amount{
  font-size:36px;
  font-weight:700;
  margin-bottom:15px;
}

.reserve{
  margin-top:30px;
  font-size:32px;
  font-weight:600;
}

.reserve-amount{
  font-size:36px;
  font-weight:700;
  margin-bottom:40px;
}


.last .withdraw-btn{
  
  padding:18px;

  font-size:50px;
  font-weight:700;

  background:#fff;      
  color:#000;

  border:none;
  border-radius:50px;   
  cursor:pointer;
  
}


.left {
  position: relative;
}


.left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;               
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0)
  );
}





.assets-box{
  margin-top:20px;
 
  max-width:700px;

  display:grid;
  grid-template-columns: 1fr 1fr;

  gap:4px 10px;  

  font-size:22px;
 
}

#bolder {
  color:#000000bd
}








@media (max-width: 768px) {

  .nav {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 15px;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  .links {
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
  }

  .container,
  .main {
    flex-direction: column;
    height: auto;
  }

  

  .left,
  .right {
    width: 100%;
    padding: 20px;
  }

 
  .exchange,
  .exchange-box {
    width: 100%;
    height: 200px;
    font-size: 20px;
  }


  .trades {
    width: 100%;
    margin-left: 0;
    grid-template-columns: 1fr;
    font-size: 22px;
    text-align: center;
  }

  
  .right input,
  .withdraw input {
    font-size: 18px;
    padding: 15px;
  }

  .right button,
  .last .withdraw-btn,
  .transfer-btn {
    font-size: 22px;
    width: 100%;
  }

  .wallet-title {
    font-size: 22px;
  }

  .amount,
  .reserve-amount {
    font-size: 24px;
  }

  
  .assets,
  .assets-box {
    grid-template-columns: 1fr;
    font-size: 18px;
  }

  
  .footer {
    font-size: 16px;
    height: auto;
    padding: 10px;
  }
}




#livetrade {
  max-width: 100%;
  height: 300px;
  
}

.tradework {
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;    
  width: 100%;
  background-color: #efebe7;
  background-color: rgb(121, 105, 105);
}

#livetrade {
  width: 90%;          
  height: 400px;       
}



#withdrawpage .header,
.last .header {
    display:flex;
    
    align-items: center;
    height:50px;
    width:100%;
    justify-content: space-between;
    background-color: #3f51b5;
    padding: 40px;
    color:white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: sticky; 
    top: 0;
    z-index: 1000;
   
}

#withdrawpage .header img,
.last .header img {
    width:120px;
  height:60px;
    object-fit: contain;
}



#foreignTrade {
  min-height: 100vh;
  
background-color: grey;
  color: white;
  
  
  
  line-height: 1.6;     /* text spacing */

}


#foreignTrade h2,
#foreignTrade h3,
#foreignTrade p,
#foreignTrade li {
  padding:8px 60px;   /* कम spacing */
  margin:0;

}

#foreignTrade h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

#foreignTrade h3 {
  font-size: 26px;

  color: #00ff66;
}

#foreignTrade p {
  
  max-width: 800px;  /* line length control */
  font-size: 18px;
}

#foreignTrade .warning {
  margin-top: 25px;
  padding: 15px 18px;
  border-left: 5px solid #ff4d4d;
  background: rgba(0,0,0,0.4);
  border-radius: 6px;
  max-width: 800px;
}

.trade-content {
  min-height: 100vh;
  
background-color: grey;
  color: white;
 
  line-height: 1.7;
}

.trade-content h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.trade-content h3 {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 12px;
  color: #00ff66;
}

.trade-content p {
  margin-bottom: 18px;
  max-width: 800px;
  font-size: 18px;
  padding:8px 60px;
}

.trade-content ul {
  margin-bottom: 20px;
  padding-left: 22px;
   padding:8px 60px;
}

.trade-content h3 {
  padding:8px 60px;
}


.trade-content h2 {
  padding:8px 60px;
}
.trade-content li {
  margin-bottom: 8px;
  font-size: 18px;
   padding:8px 60px;
}

.warning {
  margin-top: 10px;
  padding: 15px 18px;
  border-left: 5px solid #ff4d4d;
  background: rgba(0,0,0,0.4);
  border-radius: 6px;
  max-width: 800px;
   padding:8px 60px;
}

a {
  text-decoration: none;
  color:white;
   padding:8px 60px;
}


/* footer ko normal karo */
.footer h3,
.footer h4,
.footer p,
.footer ul,
.footer li {
  padding:0 !important;
  margin:0;
}

/* footer columns spacing */
.footer-col {
  padding:10px 20px;
}

/* footer list spacing */
.footer-col li {
  margin-bottom:6px;
}

.trade-content .header,
.trade-content .nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;   /* left align */
  align-items: center;
  padding: 10px 20px;
}

/* logo left side */
.trade-content .logo {
  margin-left: 10px;
}
